.l-tree {
  .container {
    box-sizing: border-box;
    margin: 20px auto;
    padding: 10px;
    width: 600px;
    border: 1px dashed #aaa;
  }

  .level {
    display: none;
    font-size: 14px;
    margin-left: 0px;

    &.level0 {
      display: block;
      margin-left: 0;
    }

    li {
      position: relative;
      padding-left: 15px;
      line-height: 30px;
      list-style: none;

      .icon {
        position: absolute;
        left: 0;
        top: 9px;
        box-sizing: border-box;
        width: 12px;
        height: 12px;
        line-height: 8px;
        text-align: center;
        border: 1px solid #aaa;
        background: #eee;
        cursor: pointer;

        &:after {
          display: block;
          content: '+';
          font-size: 12px;
          font-style: normal;
        }

        &.open {
          &:after {
            content: '-';
          }
        }
      }

      .title {
        color: #000;
      }
    }

    ul {
      padding-left: 10px;
    }

    a {
      border: none !important;
    }
  }
}
